# macOS
.DS_Store

# Xcode
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
/.build/
/Packages/
Package.resolved

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace/xcuserdata/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives and logs
*.xcarchive
*.log

# Nested repositories
.git/
