# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace/xcuserdata/

# Nested repositories
.git/